.wrap-page{
    bottom: 1.3rem;
    overflow-y: auto;
}
.user_top{
    margin-top: 0.35rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
    padding: 0 0.4rem 0.2rem 0.4rem;
}
a.buy_chic ,a.buy_dd{
    width: 4.5rem;
    height: 1rem;
    background: #2c2f38;
    border-radius: 0.1rem;
    position: relative;
    padding-left: 1.9rem;
    color: #fff;
    font-size: .35rem;
    text-align: left;
    line-height: 1rem;
}
.user_top a i{
    width: 0.6rem;
    height:0.6rem;
    left:0.8rem;
    top:0.2rem;
    position: absolute;
}
a.buy_dd{
    background: #cf372d;
    color: #fff;
}
i.buy_chic_dingd{
    background: url("../../all/image/5545_05.png") no-repeat center center;
    background-size: 0.45rem 0.6rem;
}
i.buy_chic_fangd {
    background: url("../../all/image/fangd.png") no-repeat;
    background-size: 0.6rem 0.6rem;
}
.new_tong{
    overflow: hidden;
    /*width: 100%;*/
    /*height: 2.3rem;*/
    border-radius: 0.1rem;
    line-height: 1.1rem;
    background: #2c2f38;
    margin: 0 0.4rem 0.3rem 0.4rem;
    font-size: 0.45rem;
    position: relative;
}
.new_tong_lf{
    width: 2.2rem;
    height:2.3rem;
    border-bottom-left-radius:0.1rem;
   /* border-top-left-radius:0.1rem;*/
    background: #101419;
    padding: 0rem 0.2rem 0rem 0.2rem;
}
.tong_text{
    font-size:0.5rem;
}
.new_tong_lf p{
    line-height:0.6rem;
}
.indent p{
    line-height: 0.5rem;
    font-size: 0.35rem;
    padding: 0 .2rem;
    white-space: nowrap;
    color:#c0c0c0;
}
p.tong_text{
    font-size:0.4rem;
}
.new_tong_lf p{
    /* overflow: hidden; */
    /* white-space: nowrap; */
    text-align: center;
    font-size: 0.31rem;
}
.new_tong_lf p.tong_text{
    font-size: 0.1rem;
    line-height: 0.5rem;
    font-family: "Book Antiqua";
    text-transform: uppercase;
    padding-top: .2rem;
}
p.goods{
    color:#c0c0c0;
}
.new_tong_lf p.tong_red{
    color:#ff0000;
    font-size:0.35rem;
    font-weight:bold;
}
.new_tong_lf p.tong_green {
    color: #00aa00;
    font-size: 0.35rem;
    font-weight: bold;
}
.buyru_top{
    width: 100%;
    height: 1.1rem;
    overflow: hidden;
}
.new_tong_rt{
    width: 77%;
    /*height: 3rem;*/
  /*  margin-top: .4rem;*/
}
.buyru_top .buyru_t{
    width: 24.5%;
    margin-top: -0.1rem;
}
.buyru_top_one  img{
    width: .9rem;
    height: 0.6rem;
    padding-left: 0.3rem;
    /* padding-top: 0.1rem; */
    margin-left: 0.2rem;
}
.bianhao_bot_tong_line{
    background: url(../../all/image/wqwqwq_14.png)repeat-y center center;
    background-size: 0.03rem 1.8rem;
    /* background-color: #01101f; */
    width: 0.03rem;
    height: 1.8rem;
    display: inline-block;
    margin: 0rem 0;
    margin-top: 0.2rem;
}
p{
    -webkit-margin-before: 0;
    -webkit-margin-after:0;
}
.buyru_t p{
    font-size: 0.35rem;
    line-height: 0.5rem;
  /*  font-weight: bold;*/
    text-align: center;
    /* padding: 0 0.1rem; */
    overflow: hidden;
    white-space: nowrap;
}
.buyru_t p.monry-big{
    font-size:0.38rem;
    font-weight: normal;
}
.buyru_bot{
    overflow: hidden;
    padding: .1rem .2rem;
}
.buyru_bot>p{
    line-height: 1rem;
    font-size: .3rem;
    margin-right: .1rem;
    white-space: nowrap;
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 34%;
}
.buyru_bot>p.ptime{
width: 43%;
}
.buyru_top_two,.buyru_top_three,.buyru_top_for {
    padding-top: 0.3rem;
}
.buyru_bot_lf>p{
    line-height:0.45rem;
    font-size:0.35rem;
    padding-left: 0.1rem;
}
.buyru_bot_lf{
    width: 65%;
}
.position,.amend{
    width: 1.5rem;
    height: .6rem;
    background: #ff0000;
    border-radius: .15rem;
    color: #fff;
    line-height: .6rem;
    border: none;
    font-size: .35rem;
    display: inline-block;
    margin-top: .2rem;
    margin-right: .2rem;
}
.amend{
    width: 1rem;
    margin-right: .08rem;
}
.buyru_bot_lf>p span.green{
    color:#00aa00;
    font-weight:bold;
}
.buyru_bot_rt_w{
    width: 2.5rem;
    height: 0.4rem;
    background: #000a16;
    border-radius: 0.1rem;
    position: relative;
    margin-top: 0.4rem;
    /*margin-left: -0.5rem;*/
}
.buyru_bot_rt_red{
    width: 1.5rem;
    height: 0.4rem;
    background: #ff0000;
    border-radius: 0.1rem;
    position: absolute;
    top:0;
    left:0;
}
.buyru_bot_rt{
    width: 35%;
}
.buyru_bot_lf>p{
    overflow:hidden;white-space:nowrap;
}
.num{
    position: absolute;
    top: 0.2rem;
    right: 0;
    line-height: 0;
    font-size: 0.2rem;
}
p.dian{
    white-space: nowrap;
    float: left;
    text-align: center;
    padding-left: .2rem;
}
.Mochikura{
    overflow: hidden;
}
.indent{
    background: transparent;
    overflow: hidden;
}
p.predict>span{
    color:#ff0000;
}
/*footer*/
