.bar-tab .tab-item.active, .bar-tab .tab-item:active{
    color: #929292;
}
.bar-tab {
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    padding: 0;
    table-layout: fixed;
}
.bar {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    height: 1.7rem;
    overflow: hidden;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
    /* padding-bottom: 0.3rem; */
    backface-visibility: hidden;
    background: #1d2228;
}
.bar-tab .tab-item .icon {
    top: 0.2rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding-top: 0;
    padding-bottom: 0;
}
.bar .icon {
    position: relative;
    z-index: 20;
    padding: .5rem .1rem;
    font-size: 1rem;
    line-height: 1.2rem;
}
.icon {
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    background-position: center;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icontu{
    width: 2rem;
    height: 0.7rem;
}
.icontu i{
    width: 0.15rem;
    height: 0.15rem;
    border-radius: 50%;
    background-color: #e4393a;
    position:absolute;
    top:0.1rem;
    right:0.55rem;
}
.icon-index-active{
    background: url("../../all/image/icon/shouye_y.png") no-repeat center center;
    background-size: 0.66rem 0.6rem;
}
.icon-index{
    background: url("../../all/image/icon/index.png") no-repeat center center;
    background-size: 0.66rem 0.6rem;
}
.indext-active{
    color: #f95302;
}
.indext{
    color:#3e78bc;
}
.icon-jy{
    background: url("../../all/image/icon/ft_06.png") no-repeat center center;
    background-size: 0.64rem 0.6rem;
}
.icon-jy-active{
    background: url("../../all/image/icon/footer_06.png") no-repeat center center;
    background-size: 0.64rem 0.6rem;
}
.jy-active{
    color: #f95302;
}
.jy{
    color:#3e78bc;
}
.icon-cc{
    background: url("../../all/image/icon/footer_12.png") no-repeat center center;
    background-size: 0.71rem 0.6rem;
}
.icon-cc-active{
    background: url("../../all/image/icon/ft_12.png") no-repeat center center;
    background-size: 0.71rem 0.6rem;
}
.cc-active{
    color: #f95302;
}
.cc{
    color:#3e78bc;
}
.icon-jt{
    background: url("../../all/image/icon/footer_03.png") no-repeat center center;
    background-size: 0.55rem 0.6rem;
}
.icon-jt-active{
    background: url("../../all/image/icon/ft_03.png") no-repeat center center;
    background-size: 0.55rem 0.6rem;
}
.jt-active{
    color: #f95302;
}
.jt{
    color:#3e78bc;
}
.icon-me{
    background: url("../../all/image/icon/footer_15.png") no-repeat center center;
    background-size: 0.63rem 0.6rem;
}
.icon-me-active{
    background: url("../../all/image/icon/ft_05.png") no-repeat center center;
    background-size: 0.63rem 0.6rem;
}
.me-active{
    color: #f95302;
}
.me{
    color:#3e78bc;
}

/*新增首页css*/
.icon-index-active{
    background: url("../../all/image/icon/shouye.png") no-repeat center center;
    background-size: 0.63rem 0.6rem;
}
.icon-index{
    background: url("../../all/image/icon/shouye01.png") no-repeat center center;
    background-size: 0.63rem 0.6rem;
}
.index-active{
    color: #f95302;
}
.index{
    color:#3e78bc;
}

/*新增市场css*/
.icon-sc-active{
    background: url("../../all/image/icon/footer_01.png") no-repeat center center;
    background-size: 0.63rem 0.6rem;
}
.icon-sc{
    background: url("../../all/image/icon/ft_01.png") no-repeat center center;
    background-size: 0.63rem 0.6rem;
}
.sc-active{
    color: #f95302;
}
.sc{
    color:#3e78bc;
}

/*公告*/
.icon-center{
    background: url("../../all/image/icon/footer_03.png") no-repeat center center;
    background-size: 0.7rem 0.7rem;
}
.icon-center-active{
    background: url("../../all/image/icon/ft_03.png") no-repeat center center;
    background-size: 0.7rem 0.7rem;
}
.center-active{
    color: #f95302;
}
.center{
    color:#3e78bc;
}

.bar-tab .tab-item .icon~.tab-label {
    display: block;
    font-size: .35rem;
    position: relative;
    letter-spacing: 0;
    top: 0.3rem;
}
.bar-tab a.tab-label{
    font-size:0.4rem;
}
.bar-tab .tab-item {
    position: relative;
    display: table-cell;
    width: 1%;
    height: 0;
    /*padding-right: 2rem;*/
    color: #fff;
    text-align: center;
    /*vertical-align: middle;*/
}