.wrap-page {
    /*overflow-x: hidden;*/
    top: 0;
    /*overflow-y: auto;*/
    bottom: 1.5rem;
}
.user_top {
    overflow: hidden;
    position: relative;
    color: #fff;
    font-size: .4rem;
    z-index: 2;
    padding: .1rem .35rem;
    background: #2c2f38;
}
.user_top_a{
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 0.1rem;
}
.vm {
    top: 1rem;
    left: 8%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-bottom: 0.3rem;
}
.photo img, .photo {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
}
.ac_a {
    padding-left: 1.25rem;
    padding-top: 0.2rem;
    line-height: 0.55rem;
    font-size: 0.35rem;
    color: #FFFFFF;
}
.ac_a span {
    font-size: 0.3rem;
    font-weight: 400;
}
.user_top_line{
    width: 0.07rem;
    height: 1.2rem;
    background: url(../../all/image/a_03.png) no-repeat center center;
    background-size: 0.05rem 1.2rem;
    margin-top: 0.2rem;
}
.erwei_tu{
    width: 25%;
}
.erwei_tu .img{
    width: 0.6rem;
    height: 0.6rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
}
.erwei_tu>p,.mima_tu>p{
    text-align: center;
    font-size: 0.3rem;
    padding-top: 0.05rem;
    padding-bottom: 0.2rem;
}
.form{
    overflow: hidden;
    display:block;
}
.mima_tu{
    width: 15%;
}
.mima_tu .img{
    width: 0.5rem;
    height: 0.6rem;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}
.w-item {
    width: 10rem;
    height: 1.2rem;
    border-color: #c1c1c1;
    position: relative;
    float: left;
    line-height: 1.2rem;
    font-size: 0.3rem;
    background: #2c2f38;
    border-radius: 0.2rem;
    padding-left: 0.3rem;
    /* margin-bottom: 0.3rem; */
    margin-left: 0.4rem;
    margin-top: 0.3rem;
}
.user_img_lf .user_img{
    width: 0.7rem;
    height: 0.7rem;
    position: absolute;
    top: 0.2rem;
    left: 0.3rem;
}
.user_money{
    padding-top: 0.15rem;
    font-size: 0.4rem;
    padding-left: 1.2rem;
    line-height: 0.43rem;
}
.user_money>span{
    font-size:0.3rem;
}
.tixian{
    width: 1.6rem;
    height: 0.7rem;
    background: #3ea4ee;
    border-radius: 0.1rem;
    border: 0;
    margin-right: 0.2rem;
    margin-top: 0.2rem;
    color: #fff;
    font-size: 0.3rem;
}
.exit{
    margin-bottom: 0.5rem;
}
.chognzhi{
    width: 1.6rem;
    height: 0.7rem;
    border-radius: 0.1rem;
    border: 0;
    margin-right: 0.2rem;
    margin-top: 0.2rem;
    color: #fff;
    font-size: 0.3rem;
    background: #f75a60;
}
.user_info{
    width: 0.7rem;
    height: 0.6rem;
    position: absolute;
    top: 0.2rem;
    left: 0.3rem;
}
.user_info_text{
    font-size:0.4rem;
    padding-left: 1.2rem;
    line-height:1.2rem;
}
.jiantou{
    margin-right: 0.4rem;
}
.jiantou img{
    width: 0.2rem;
    height: 0.3rem;
}
.qianyue{
    width: 10rem;
    overflow: hidden;
    border-color: #c1c1c1;
    position: relative;
    float: left;
    line-height: 1.5rem;
    font-size: 0.4rem;
    background: #2c2f38;
    border-radius: 0.2rem;
    padding-left: 0.3rem;
    margin-bottom: 0.2rem;
    margin-left: 0.4rem;
    margin-top: 0.3rem;
}
.w-item:nth-child(2){
    margin-bottom: 0;
}
.bank_qianyue{
    overflow: hidden;
    height: 1.15rem;
    line-height: 1.15rem;
}
.ac_name>p{
    font-size:0.4rem;
}
/*.ac_name>p>span{*/
    /*font-size:0.4rem;*/
/*}*/
.bank_line{
    display: block;
    width: 9.3rem;
    height: 0.03rem;
}
.user_img_tu .icon{
    width: 0.6rem;
    height: 0.6rem;
    background-size: 0.6rem 0.6rem;
    left: 0.3rem;
    position: absolute;
}
.user_img_lf i{
    top: 0.3rem;
    background: url("../../all/image/qwqwq_22.png") no-repeat center center;
}
.user_img_dd i{
    top: 1.5rem;
    background: url("../../all/image/sasaas_24.png") no-repeat center center;
}
.user_img_quan i{
    width: .95rem!important;
    height: .95rem!important;
    background-size:100% 100%!important;
    top: 2.45rem;
    left: .2rem!important;
    background: url("../../all/image/record_ct.png") no-repeat center center;
}
.user_img_junt i{
    top: 0.3rem;
    background: url("../../all/image/qwqwqwff_28.png") no-repeat center center;
}
.user_img_xiaoxi i{
    top: 0.3rem;
    background: url("../../all/image/sa5445_31.png") no-repeat center center;
}
.user_img_friend i{
    top: 1.45rem;
    background: url("../../all/image/saasas_33.png") no-repeat center center;
}
