body{
    background: #101419!important;
}
.user_top{
    margin: 0.15rem 0.3rem 0rem 0.3rem;
    height: 1.1rem;
    line-height: 1.1rem;
    background: #2c2f38;
    border: 1px solid #000;
    border-radius: 0.1rem;
    text-align: center;
    font-size: 0.43rem;
    color: #e9e4e8;
    font-family: "微软雅黑";
}
.guangbo_contain{
    margin: 0.3rem 0.3rem 0 0.3rem;
    background: #2a2f38;
    padding: 0.3rem 0.3rem 1rem 0.3rem;
    color:#e9e4e8;
    font-size:0.35rem;
    line-height:0.6rem;
    border-radius:0.1rem;
    font-family: "微软雅黑";
}
.guangbo_contain p{
    letter-spacing: 0.03rem;
}
.wrap-page{
    overflow: hidden;
    top: 0.3rem;
    bottom: 0.7rem;
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 0;
    border: 0;
    /*background-color: #fff;*/
}