.tishi_text{
    text-align: center;
}
.tishi{
    border:0;
}
.xiadan_top{
    /*height:1.3rem;*/
    color:#fff;
    font-size:0.35rem;
    text-align: center;
    /*padding-top: 0.2rem;*/
}
.zhang_red{
    /*padding-right: 1.1rem;*/
    width: 0.5rem;
    height: 0.5rem;
    /*margin-bottom: 0.2rem;*/
    background: url("../../all/image/zhang.png") no-repeat center center;
    background-size: 0.5rem 0.5rem;
    /*margin-top: 0.1rem;*/
}
/*#showUpAndDown{*/
/*padding-left: 1rem;*/
/*}*/
.xiajiang_green{
    /*padding-right: 1rem;*/
    width: 0.5rem;
    height: 0.5rem;
    /* margin-bottom: 0.2rem; */
    background: url(../../all/image/xiajiang.png) no-repeat center center;
    background-size: 0.5rem 0.5rem;
    /* width: 50%; */
    /* float: right; */
    /* display: inline-block; */
    /*margin-top: 0.1rem;*/
}
.xiajiang
{
    padding-left: 0.8rem;
    color: #69C00A;
    /* width: 50%; */
    /* float: left; */
}
.shangzhang{
    padding-left: 0.8rem;
    color:#ff0000;

}
.xiadan_top_lf{
    width: 50%;
    line-height:0.55rem;
    /*padding-top: 0.2rem;*/
}
.xiadan_top_lf_line{
    padding-left: 0.5rem;
    display: inline-block;
    float: right;
    height: 1rem;
    width: 0.52rem;
    margin-top: 0.2rem;
}

.pinz_yellow{
    color:#bababa;
    text-align: center;
}
.pinz {
    padding-left: 1rem;
}
.pinza{
    width: 50%;
    padding-right: 1rem;
    line-height:0.55rem;
    /*padding-top: 0.2rem;*/
}
.xiadan_top_line{
    background: url("../../all/image/dtime.png") repeat-x center center;
    background-size: 10rem 0.03rem;
    height:0.03rem;
    width:10rem;
    margin-top: 1.2rem;
}
.pop_bd_center{
    width: 100%;
    overflow: hidden;
}
.pop_bd_text{
    overflow: hidden;
}
.pinz_white>img{
    padding-left: 0.2rem;
    width:0.7rem;
    height:0.5rem;
    margin-bottom: 0.2rem;
}
.xiadan_top .red{
    color:#f60101;
    font-size:0.4rem;
    overflow:hidden;
}
.xiadan_top .green1{
    color:#69C00A;
    font-size:0.4rem;
    overflow:hidden;
}
.xiadan_top .green{
    color:#69C00A;
    font-size:0.5rem;
}
.queding{
    width: 3.2rem;
    line-height: 0.8rem;
    background: #ff0000;
    text-align: center;
    color: #fff;
    border: 0;
    position: absolute;
    top: 5.5rem;
    font-size: 0.4rem;
    border-radius: 0.2rem;
    margin-left: 2.2rem;
}