.popBox.active .popCont {
    height: 15rem;
}
.pop_bd {
    width: 10rem;
    background: #1d2128;
    /*overflow: hidden!important;*/
   /* height: 11rem;*/
    overflow: hidden;
    margin: .55rem auto 0 auto;
    border-radius: .8rem;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
}
.closed {
    position: absolute;
    z-index: 1;
    right: 0.5rem;
    top: 0.1rem;
    width: .99rem;
    height: .99rem;
    background: url(../../all/image/close.png) no-repeat center center;
    background-size: .6rem .6rem;
}
.pop_bd .m_tag {
    position: absolute;
    left: 0;
    top: 0;
    width: 2.92rem;
    height: 2.33rem;
}
.m_text {
    position: absolute;
    top: 0.5rem;
    left: 0;
    z-index: 21;
    transform: rotate(-38deg);
    color: #fff;
    font-size: 0.48rem;
}
.pho_bd_item {
    position: relative;
}
.po_a {
    padding: 0.3rem .24rem;
    overflow: hidden;
   /* height: 5.5rem;*/
}
.po_a h3 {
    font-weight: normal;
    line-height: .89rem;
    font-size: .5rem;
    text-align: center;
    color:#b9b9b9;
}
.pa_yc {
    /*height: 3rem;*/
    overflow: hidden;
}
.pa_y {
    /* margin-right: -.7rem; */
    margin-left: 0.5rem;
    padding-top: 0.8rem;
    font-size: 0.6rem;
}
.pa_y li {
    float: left;
    background: #FFD9DE;
    border-radius: 0.1rem;
    line-height: .8rem;
    width: 1.95rem;
    text-align: center;
    margin-right: .28rem;
    margin-bottom: .35rem;
    color: #000;
    cursor: pointer;
    transition: all 300ms;
    font-size: .45rem;
}
.pa_y li.on {
    background: #FD3048;
    color: #fff;
}
.p_tips {
    color: #6d6d6d;
    font-size: .43rem;
    padding-top: .1rem;
    text-align: center;
}
.po_b {
    border-top: 1px solid #000;
    padding: 0 .24rem;
    margin-top: 0.2rem;
}
.po_b h3 {
    text-align: center;
    font-weight: normal;
    color:#b9b9b9;
    padding-top: .3rem;
}
.ykItem {
    margin-top: .25rem;
    line-height: .99rem;
}
.ykItem strong {
    font-weight: normal;
    width: 1.5rem;
    font-size: 0.55rem;
    padding-left: 0.2rem;
    color:#fff;
}
.ykItem span {
    float: left;
    margin-right: .35rem;
    margin-left: 0.2rem;
    height: .99rem;
    width: .99rem;
    text-align: center;
    line-height: .99rem;
    color:#fff;
    border-radius: 50%;
    letter-spacing: 0;
    font-size: .43rem;
    transition: all 300ms;
}
.ykItem span.on {
    background: #fe0303;
    color: #fff;
}
.text-center {
    text-align: center;
    padding-top: 0.2rem;
}
.pop_btn button {
    cursor: pointer;
    display: inline-block;
    width: 3.5rem;
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    border-radius: .3rem;
    background: #929292;
    color: #000;
    font-size: .6rem;
    margin: 0.15rem 0.2rem 0.15rem 0.2rem;
    border: none;
}
.pop_btn button.btn1 {
    background: #fe0303;
}
.pop_btn button.btn2 {
    background: #FECA04;
}
#downBox .pop_tit a.on, #downBox .bd_h, #downBox .ykItem span.on, .lv li.on {
    background-color: #59b904;
}
.lv li {
    background: #CBF3A3;
}
input.inputk{
    width: 1.5rem;
    height: .6rem;
    line-height: .6rem;
    border-radius: .1rem;
    background: #FFD9DE;
    border: 1px solid #ddd;
    color: #000;
    text-align: center;
    font-size: .43rem;
    padding: 0 .1rem;
}
::-webkit-input-placeholder{
    color: #000;
}
.lot{
    overflow: hidden;
    /*width: 5rem;*/
    padding: 0 2rem;
    line-height: .6rem;
    margin: .3rem auto 0 auto;
    color: #fff;
    font-size: .43rem;
}
.gw_num{
    /*border: 1px dashed #dbdbdb;*/
    /*width: 2.67rem;*/
    height: .6rem;
    line-height: .6rem;
    overflow: hidden;
    float: right;
    border-radius: .1rem;
}
.gw_num em{
    display: block;
    height: .6rem;
    line-height: .5rem;
    width: .6rem;
    float: left;
    color: #fff;
    /* border-right: 1px solid #dbdbdb; */
    text-align: center;
    font-size: .6rem;
}
.gw_num .num{
    display: block;
    float: left;
    text-align: center;
    width: 1.4rem;
    font-style: normal;
    font-size: .43rem;
    line-height: .6rem;
    background: #fb374d;
    border-radius: .1rem;
   /* border: 1px dashed #dbdbdb;*/
    color:#fff;
    margin: 0 .2rem;
}
.gw_num em.add{
    float: right;
    border-right: 0;
    /* border-left: 1px solid #dbdbdb; */
}