
.user_top{
    margin-top:0.3rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
    padding: 0.3rem 0.8rem 0.2rem 0.5rem;
    background: #101419;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius:0.2rem;
    line-height:0.9rem;
}
.user_top>p{
    line-height:0.6rem;
    color:#fff;
    font-size: 0.4rem;
}
.w-item {
    width: 8.8rem;
    padding: .35rem 0;
    border-color: #c1c1c1;
    position: relative;
    float: left;
}
.w-item input.copy {
    width: 5rem;
    height: 1.3rem;
    padding: 0.6rem;
    text-align: center;
    border-radius: .2rem;
    font-size: .35rem;
    background: #2c2f38;
    color:#fff;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
.w-item input.fill {
    float: right;
    width: 3rem;
    height: 1.3rem;
    text-align: center;
    background: #3ea4ee;
    border-radius: 8px;
    border: 0;
    font-size: 0.4rem;
    color: #FFFFFF;
    padding-left: 0.4rem;
    padding-right: 0.5rem;
    margin-left: 0.3rem;
}
.login {
    /*display: block;*/
    font-size: 0.6rem;
    color: #fff;
    width: 8.8rem;
    height: 1.2rem;
    line-height: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background: #cf372d;
    border:0;
    border-radius: 0.2rem;
}