body{
    margin: 0 auto;
    overflow-x: hidden;
    font-size: .3rem;
    background: #1e2227;
    position: relative;
    color: #fff;
    font-family: 'Microsoft Yahei';
    letter-spacing: 1px;
}
.popBox, .prompt-box {
     display: block;
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    }
.popCont {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 4.5rem;
    height: 0;
    transition: all 500ms;
}
.pop_bd {
    width: 9.7rem;
    background: #2c2f38;
    height: 7rem;
    margin: .8rem auto 0 auto;
    border-radius: .3rem;
    border:1px solid #1d2228;
}
.tishi{
    height:1.3rem;
    padding-bottom: 1rem;
}
.tishi_text{
    color:#fff;
    font-size:0.45rem;
    line-height:1.3rem;
    text-align: center;
}
.tishi_text>i{
    width: 0.8rem;
    height: 0.8rem;
    background: url(../../all/image/qqq_03.png) no-repeat center center;
    background-size: 0.8rem 0.8rem;
    position: absolute;
    left: 0.8rem;
    top: 0.2rem;
}
.tishi .close{
    position: absolute;
    width: 1.5rem;
    top: 0.5rem;
    right: 0rem;
}
.xiadan_num{
    color:#000;
    font-size:0.45rem;
    text-align: center;
    line-height:3rem;
}
.sure{
    width: 2.5rem;
    height: 1.2rem;
    line-height:1.2rem;
    background: #cf372d;
    border-radius:0.3rem;
    float: right;
    /*margin-right: 0.5rem;*/
    border:0;
    color:#fff;
    font-size:0.5rem;
}