.wrap-page {
    overflow-y: auto;
}
.user_top{
    margin-top:0.3rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
    padding: 0.3rem 0.8rem 0.2rem 0.5rem;
    background: #282828;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius:0.2rem;
    line-height:0.9rem;
}
.user_top .hui{
    color:#fff;
}
.user_top>p{
    font-size:0.4rem;
    color:#fff;
    padding-top: 0.3rem;
}
.huiyuan_lf{
    padding-top: 0.6rem;
    margin-left: 0.5rem;
}
.new_huiyuan{
    overflow: hidden;
}
.yuandian-ac{
    width: 0.5rem;
    height: 0.5rem;
    line-height:1rem;
    border-radius:50%;
    background:transparent;
}
.yuandian{
    width: 0.5rem;
    height: 0.5rem;
    line-height:1rem;
    border-radius:50%;
    background:#5f5f5f;
}
.yuandian-active{
    width: 0.5rem;
    height: 0.5rem;
    line-height:1rem;
    border-radius:50%;
    background:#ff4e00;
}
.join{
    line-height:0.5rem;
    padding-left: 0.5rem;
    font-size: 0.45rem;
    color:#fff;
}
.huiyuan_time p{
    font-size:0.4rem;
}
.user_top>img{
    display: block;
    margin-right: 0.5rem;
    overflow: hidden;
    width: 8.8rem;
    height: 0.1rem;
    margin-top: 0.3rem;
}
/*footer*/
.bar-tab .tab-item.active, .bar-tab .tab-item:active{
    color: #929292;
}
.bar-tab {
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    padding: 0;
    table-layout: fixed;
}
.bar {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    height: 1.6rem;
    overflow: hidden;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.05rem;
    padding-bottom: 0.3rem;
    backface-visibility: hidden;
    background: #002b54;
}
.bar-tab .tab-item .icon {
    top: 0.05rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding-top: 0;
    padding-bottom: 0;
}
.bar .icon {
    position: relative;
    z-index: 20;
    padding: .5rem .1rem;
    font-size: 1rem;
    line-height: 1.2rem;
}
.icon {
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    background-position: center;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icontu{
    width: 2rem;
    height: 0.9rem;
}
.icontu i{
    width: 0.15rem;
    height: 0.15rem;
    border-radius: 50%;
    background-color: #e4393a;
    position:absolute;
    top:0.1rem;
    right:0.55rem;
}
.icon-index-active{
    background: url("../../all/image/icon/shouye_y.png") no-repeat center center;
    background-size: 0.8rem 0.8rem;
}
.icon-index{
    background: url("../../all/image/icon/index.png") no-repeat center center;
    background-size: 0.8rem 0.8rem;
}
.indext-active{
    color: #f95302;
}
.indext{
    color:#fff;
}
.icon-jy{
    background: url("../../all/image/icon/ft_06.png") no-repeat center center;
    background-size: 0.8rem 0.8rem;
}
.icon-jy-active{
    background: url("../../all/image/icon/footer_06.png") no-repeat center center;
    background-size: 0.8rem 0.8rem;
}
.jy-active{
    color: #f95302;
}
.jy{
    color:#fff;
}
.icon-cc{
    background: url("../../all/image/icon/footer_12.png") no-repeat center center;
    background-size: 0.8rem 0.8rem;
}
.icon-cc-active{
    background: url("../../all/image/icon/ft_12.png") no-repeat center center;
    background-size: 0.8rem 0.8rem;
}
.cc-active{
    color: #f95302;
}
.cc{
    color:#fff;
}
.icon-jt{
    background: url("../../all/image/icon/footer_03.png") no-repeat center center;
    background-size: 0.7rem 0.8rem;
}
.icon-jt-active{
    background: url("../../all/image/icon/ft_03.png") no-repeat center center;
    background-size: 0.7rem 0.8rem;
}
.jt-active{
    color: #f95302;
}
.jt{
    color:#fff;
}
.icon-me{
    background: url("../../all/image/icon/footer_15.png") no-repeat center center;
    background-size: 0.8rem 0.8rem;
}
.icon-me-active{
    background: url("../../all/image/icon/ft_05.png") no-repeat center center;
    background-size: 0.8rem 0.8rem;
}
.me-active{
    color: #f95302;
}
.me{
    color:#fff;
}
.bar-tab .tab-item .icon~.tab-label {
    display: block;
    font-size: .35rem;
    position: relative;
}
.bar-tab a.tab-label{
    font-size:0.4rem;
}
.bar-tab .tab-item {
    position: relative;
    display: table-cell;
    width: 1%;
    height: 0;
    /*padding-right: 2rem;*/
    color: #fff;
    text-align: center;
    /*vertical-align: middle;*/
}