
.user_top{
    margin-top:0.3rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
    padding: 0.3rem 0.5rem 0.5rem 0.5rem;
    background: #dedede;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /*height:3rem;*/
    border-radius:0.2rem;
    line-height:0.9rem;
}
.user_top h3{
    font-size:0.5rem;
    font-weight:normal;
    color:#000;
}
.user_top h4{
    color:#303030;
    font-weight:normal;
    font-size:0.4rem;
}
.user_top p{
    color:#303030;
    font-weight:normal;
    font-size:0.4rem;
    white-space: nowrap;
}
