.user_top .xinghao{
    text-align: right;
    font-size:0.4rem;
}
.user_top .xinghao>span,.w-item>span{
    color: red;
}
.user_top .line{
    height:0.08rem;
    width: 8.8rem;
    background: #04305e;
    margin-bottom: 0.5rem;
}
.w-item>span{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 0.5rem;
}
.w-item input.green {
    margin-top: 0.1rem;
}
.w-item input.sanjiao{
    position: absolute;
    background: url("../../all/image/5454q_21.png") no-repeat right bottom;
    right:0.2rem;
    background-size: 0.3rem 0.3rem;
}
.w-item input {
    width: 7rem;
}
.provien{
    height: 1.3rem;
    margin-top: 0rem;
}