.close>img.yong_close{
    right:0.8rem;
}
.close>img.xinx_xolse{
    right:0.8rem;
}
.xieyi {
    color: #fff;
    font-size: 0.3rem;
    text-align: left;
    line-height: 0.6rem;
    padding: 0.4rem;
    height: 13rem;
    overflow: auto;
}

.pop_bd {
    width: 10rem;
   height:16.5rem;
    background: #002b54;
    margin: .8rem auto 0 auto;
    border-radius: .3rem;
    overflow: hidden;
}
.popCont {
    top: 0rem;
}
.tishi {
    height: 1.3rem;
    padding-bottom: 1rem;
     border-bottom: 1px solid #000;
    background: #1e2227;
    /*border-radius: 0.3rem;*/
}
.tishi .tishi_text{
    text-align: center;
    /*padding-right: 1.5rem;*/
}
.sure {
    width: 9.7rem;
    height: 1.2rem;
    line-height: 1.2rem;
    /* background: #ff8400; */
    border-radius: 0.3rem;
    float: right;
    margin: 0rem auto 0 auto;
    border: 0;
    position: absolute;
    right: 1rem;
    color: #fff;
    font-size: 0.5rem;
}
.tishi .point{
    padding-left:1.5rem;
    line-height:1.5rem;
}
.tishi_text>i.image{
    top:0.3rem;
}