.intop_banner{
    width: 96%;
    height:4rem;
    margin: 0.3rem auto;
    border-radius: .3rem;
}
.intop_banner>img{
    width: 100%;
    border-radius: .3rem;
    height:4rem;
}
.announcement{
    height:2.65rem;
    background: #1e1e1e;
    width: 96%;
    margin:0 auto;
    border-radius: .2rem;
}
.announcement>.affiche{
    border-bottom:1px solid #000;
    height:1rem;
    padding: .1rem .2rem;
    font-size: .4rem;
}
.announcement>.affiche>i{
    width: .75rem;
    height:.75rem;
    background: url("../image/gon.png") no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
    margin-right: .3rem;
}
.affiche_txt img.img{
    width: 1.3rem;
    height:1.3rem;
    margin-top: .2rem;
    margin-left: .2rem;
}
.mation>img.img{
    width: 2.5rem;
    height: 1.8rem;
    border-radius: .2rem;
}
.affiche_t{
    width: 80%;
    padding-top: .25rem;
    height: 1.48rem;
    overflow: hidden;
}
.affiche_txt{
    overflow: hidden;
    position: relative;
}
.affiche_t>p{
    line-height: .6rem;
    padding-left: .2rem;
    font-size: .36rem;
    color:#c0c0c0;
}
.information{
    width: 96%;
    background: #1e1e1e;
    margin:.3rem auto;
    border-radius: .2rem;
    overflow: hidden;
}
.information .title{
    height:1rem;
    line-height: 1rem;
    border-bottom:1px solid #000;
    font-size: .4rem;
}
.information .title i{
    width: .6rem;
    height: .6rem;
    background: url(../image/zinxun1.png) no-repeat center center;
    background-size: 100% 100%;
    display: inline-block;
    margin-right: .3rem;
    /*margin-top: .2rem;*/
    margin-left: .3rem;
}
.message{
    width: 73%;
    padding:.1rem .3rem ;
}
.message>h2{
    font-size: .45rem;
    font-style: normal!important;
    font-weight: normal;
}
.informationTxt,.informationTxt>li{
    overflow: hidden;
}
.informationTxt li{
    border-bottom:1px solid #000;
}
.message>p{
    font-size: .35rem!important;
    color:#c0c0c0;
}
#click_more{
    width: 2.8rem;
    height: 1.1rem;
    background: #1e1e1e;
    border-radius: .1rem;
    margin: .5rem auto;
    line-height: 1.1rem;
    text-align: center;
    font-size: .4rem;
}
